---
layout: default
---
		<title>Apeiron</title>
			<!-- Main -->
					<div id="main">
						<!-- Post -->
						{% for post in site.posts %}
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
										<p>{{post.byline}}</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-10-25">{{ post.date | date: '%B %d, %Y' }}</time>
										<a href="#" class="author"><span class="name">Surya Dutta</span><img src="images/avatar.png" alt="" /></a>
									</div>
								</header>
								<a href="{{ post.url }}" class="image featured"><img src="images/{{post.main-image}}" alt="" /></a>
								<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper.</p>
								<footer>
									<ul class="actions">
										<li><a href="{{ post.url }}" class="button big">Continue Reading</a></li>
									</ul>
									<!--
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon fa-heart">28</a></li>
										<li><a href="#" class="icon fa-comment">128</a></li>
									</ul>
								-->
								</footer>
							</article>
						{% endfor %}
						<!-- Pagination
							<ul class="actions pagination">
								<li><a href="" class="disabled button big previous">Previous Page</a></li>
								<li><a href="#" class="button big next">Next Page</a></li>
							</ul>
					-->
					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="index.html" class="logo"><img src="images/logo.png" alt="" /></a>
								<header>
									<h2>Apeiron</h2>
									<p>A Weekly Physics Blog <br> by <a href="http://www.suryadutta.me"> Surya Dutta </a></p>
								</header>
							</section>

						<!-- Mini Post
							<section>
								<div class="mini-posts">
										<article class="mini-post">
											<header>
												<h3><a href="#">Vitae sed condimentum</a></h3>
												<time class="published" datetime="2015-10-20">October 20, 2015</time>
												<a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
											</header>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
										</article>
								</div>
							</section>
						-->
						<!-- Posts List -->
							<section>
								<ul class="posts">
									{% for post in site.posts %}
										<li>
											<article>
												<header>
													<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
													<time class="published" datetime="2015-10-20">{{ post.date | date: '%B %d, %Y' }}</time>
												</header>
												<a href="#" class="image"><img src="images/{{post.thumbnail}}" alt="" /></a>
										</li>
									{% endfor %}
								</ul>
							</section>
